<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManagerFP.My.MySettings.CnStrMSOLEDBSQL" connectionString="Provider = MSOLEDBSQL; Data Source=RINATS\SQLEXPRESS; Initial Catalog=MyBag; User ID=Rinat; trusted_connection=NO; Application Name='ManagerFP'; " />
        <add name="ManagerFP.My.MySettings.CnStrSQLClient" connectionString="Data Source=RINATS\SQLEXPRESS;Initial Catalog=MyBag;Integrated Security=False;Application Name=ManagerFP"
            providerName="System.Data.SqlClient" />
        <add name="ManagerFP.My.MySettings.CnStringOLADB" connectionString="Provider=SQLOLEDB; Data Source=RINATS\SQLEXPRESS; Initial Catalog=MyBag; UID=Rinat; app=ManagerFP" />
        <add name="ManagerFP.My.MySettings.CnString" connectionString="Data Source=RINATS\SQLEXPRESS;Initial Catalog=MyBag;User ID=Rinat"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>

